<!DOCTYPE html>
<html>
<head>
	<title><%= individualPost.title %></title>
</head>
<body>
<img src="<%= individualPost.image %>">	
	<h4><%= individualPost.text %></h4>

	</br>
	<a href="/post/<%= individualPost.id %>/edit">edit here</a>
	</br>
	<form method="POST" action="/post/<%= individualPost.id %>?_method=DELETE">
		<button>erase it all</button>
	</form>
</body>
</html>